<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tech">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UsuarioBasico.ui.empresas.PerfilUsuarioEmpesaActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".UsuarioBasico.ui.ajustes.SobreNosotrosActivity" />
        <activity
            android:name=".UsuarioBasico.ui.ajustes.EditarCuentaUsuarioActivity"
            android:label="Editar Perfil" />
        <activity android:name=".UsuarioBasico.ui.ajustes.AyudaActivity" />
        <activity
            android:name=".Empresa.EmpresaMainActivity"
            android:label="@string/title_activity_empresa_main" />
        <activity
            android:name=".UsuarioBasico.UsuarioMainActivity"
            android:label="@string/title_activity_usuario_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account.PrimerLoginEmpresaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account.PrimerLoginUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account.CrearCuentaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>